.magic-dots.slick-dots ul {
    padding: 0;
    display: flex;
    transition: all .2s;
    position: relative;
    margin: 0px; }
  
 .magic-dots.slick-dots li button {
    pointer-events: none; }
  
  .magic-dots.slick-dots li button::before {
    transition: font-size .35s; }
  
  .magic-dots.slick-dots li.small button::before {
    font-size: 8px;
    line-height: 20px; }
  